@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

body {
    --background-color: rgb(192, 225, 255);
    --text-color: rgb(182, 182, 182);
    position: relative;
    background-color: var(--background-color);
    font-family: 'Comfortaa', 'sans-serif';
}

.container {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    margin-top: 15rem;
    z-index: 1;
}

.metronome {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 11rem;
}

.metronome-border {
    background-image: url('red-oak.jpeg');
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    margin-top: 5rem;
    height: 530px;
    width: 370px;
    z-index: 0;
}
.right-border {
    position: absolute;
    right: 0px;
    border-top: 530px solid  var(--background-color);
    border-left: 110px solid transparent;
    width: 0px;
}
.left-border {
    position: absolute;
    left: 0;
    border-top: 530px solid  var(--background-color);
    border-right: 110px solid transparent;
    width: 0px;
}

.black-board {
    position: absolute;
    left: 50%;
    margin-top: 1rem;
    transform: translate(-50%);
    border-bottom: 325px solid rgb(19, 0, 0);
    border-left: 66px solid transparent;
    border-right: 66px solid transparent;
    height: 0;
    width: 123px;
}

.tempo-settings, .measures{
    width: 200px;
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.tempo-slider {
    all: unset;
    position: absolute;
    right: 50%;
    width: 320px;
    height: 6px;
    border-radius: 3px;
    background-color: rgb(83, 83, 83);
    transform: rotate(90deg);
    transform-origin: right;
    z-index: 99;
}
.circle{
    width: 12px;
    height: 12px;
    background-color: rgb(83, 83, 83);;
    border-radius: 50%;
    position: absolute;
    bottom: 46%;
    
}

.tempo-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 40px;
    height: 0px;
    transform: rotate(90deg);
    border-bottom: 40px solid rgb(132, 132, 132);
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
}

.tempo-slider.active {
    --duration: 60000 / 120;
    --angleLeft: 0;
    --angleRight: 0;
    animation-name: pendulum;
    animation-duration: calc(var(--duration) * 1ms);
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}
.start-stop-btn{
    width: 60px;
    height: 60px;
    font-variant: small-caps;
    font-size: 18px;
}

button {
    border-radius: 50%;
    border: 1px solid black;
    -webkit-box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.82);
    -moz-box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.82);
    box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.82);
    background-color: rgb(160, 61, 3);
    color: var(--text-color);
}

button:active {
    transform: translateY(2px);
    transform: translateX(1px);
    -webkit-box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.82);
    -moz-box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.82);
    box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.82);

}
.adjust-tempo.decrease-tempo,  .adjust-tempo.increase-tempo{
    width: 30px;
    height: 30px;
    text-align: center;

}
.bpm-display{
    position:absolute;
    top: -9%;
    display: flex;
    flex-direction: column;
    color: var(--text-color);
    font-size: 3rem;
    z-index: 1;
}
.tempo{
    text-align: center;
    padding: 2px;
}
.bpm, .measure-count{
    text-align: center;
}
.settings-section {
    display: flex;
    justify-content: center;
    width: 300px;
    margin-top: 2rem;
}
.toggle-settings {
    border-radius: 15px;
    width: 50px;
    height:25px;
    background-color:  rgb(182, 182, 182);
}
.toggle-settings-btn {
    width: 25px;
    height: 25px;
    border: none;
    transition: ease-in-out .2s;
}
.settings-text{
    padding: 0 10px;
    color: var(--text-color);
}

@keyframes pendulum {
    from {
        transform: rotate(calc(var(--angleLeft) * 1deg))
    }

    to {
        transform: rotate(calc(var(--angleRight) * 1deg))
    }
}